@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;600&display=swap");
@import "variables";
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  margin: 0 auto;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: white;
}
main {
  margin-bottom: 20px;
  // padding-bottom: 40px;
}
header {
  img {
    width: 100%;
    display: block;
  }
}
.navbar {
  position: fixed;
  width: 100%;
  height: 55px;
  z-index: 1;
  background-color: rgba(31, 31, 31, 0.95);
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.42);
  transform: translateY(-150%);
  transition: transform 0.2s;
}
.fa-bars {
  display: block;
  position: absolute;
  top: 8.5px;
  left: 35px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}
.nav-container {
  display: block;
  position: relative;
  height: 69px;
}
.nav-items {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 90%;
  padding-top: 20px;
  // padding-bottom: 100px;
  background-color: rgba(31, 31, 31, 0.95);
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3.2px);
  transform: translate(-150%);
  transition: transform 0.2s;
  .fa-xmark {
    display: inline-block;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
  }
  .links {
    margin-top: 65px;
    margin-bottom: 15px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    a {
      display: inline-block;
      text-decoration: none;
      color: white;
      font-size: 2.5rem;
      padding-bottom: 10px;
      font-weight: 600;
    }
  }
  .socials {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    margin: 0 30px;

    a {
      color: white;
      font-size: 40px;
    }
  }
}
.socials a:hover,
.links a:hover,
.fa-bars:hover,
.fa-xmark:hover {
  color: lightblue;
}
.line {
  background-color: white;
  height: 2.5px;
  width: 90%;
  margin: 90px auto 90px auto;
  border-radius: 5px;
}
.nav-logo {
  position: absolute;
  top: 5px;
  right: 15px;
  img {
    height: 40px;
  }
}

footer {
  background-color: rgba(39, 39, 38, 0.98);
  height: 40px;
  width: 100%;
  margin-top: 25px;
}

@media all and (min-width: 685px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 69px;
    align-items: center;
  }
  .nav-items {
    flex-direction: row;
    height: 70px !important;
    width: 100%;
    background-color: #ffffff00;
    transform: translate(0%) !important;
    backdrop-filter: blur(0px);
    padding-top: 15px;
    box-shadow: none;
    justify-content: center;
    order: 2;
    .links {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      margin-top: 0;
      padding-left: 0;
      span a {
        font-size: 32px;
      }
      span:nth-child(1) {
        display: none;
      }
    }
  }
  .nav-logo {
    order: 1;
    position: relative;
    right: 0;
    top: -1px;
    margin: 0 25px;
    height: 55px;
    img {
      height: 45px;
    }
  }
  .socials,
  .line {
    display: none !important;
  }
  .menu-button {
    display: none !important;
  }
  footer {
    position: sticky;
    top: 100%;
  }
}
